*{
margin: 20;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: rgb(228, 190, 140);
    line-height: 1.6;
   
}
.corpo{
    background-color: rgb(26, 15, 0);
}
h2{
color: rgb(137, 93, 17);
padding-top: 2.0rem;
}

h1{
    padding-left: 400px;
    margin-top: auto;
    font-size: 2.5rem;
    color: rgb(88, 60, 7);
    font-family:Georgia;

}
h2,h3{
    font-weight:700; /*espessura da fonte*/
}



#intro{
    color: rgb(192, 109, 40);
    /* padding: 10px 20px 30px 40px; */
    padding: 10px 50px 10px 40px;
    
    margin-left: 300px;
    /* border: 5px double black; */
    border-radius: 30px;



    
}

a{
    color: rgb(255, 255, 255);
    text-decoration:none; /*tira o sublinho*/
    transition: 0.9s;
    
}

a:hover{
    color:blue;
    text-decoration: underline;
    font-style: italic;
    font-family: Verdana;
    
}